@charset "UTF-8";
.g-body_about-us .c-wrapper a {
  text-decoration: none;
}
.g-body_about-us .g-footer {
  position: relative;
}
.c-wrapper {
  min-height: 100%;
}
.c-about {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100vh;
  padding: 13% 10% 0;
  -webkit-background-size: cover;
          background-size: cover;
}
.c-team__title {
  padding-top: 39px;
  padding-bottom: 36px;
  text-align: center;
}
.c-people {
  overflow: hidden;
  font-size: 0;
}
.c-jedi {
  width: 25%;
  position: relative;
  display: inline-block;
  font-size: 15px;
  vertical-align: top;
  opacity: 1;
  -webkit-background-size: cover;
          background-size: cover;
}
.c-jedi_hidden {
  opacity: 0;
}
@media screen and (max-width: 1151px) {
  .c-jedi {
    width: 50%;
  }
}
.c-jedi__img {
  width: 100%;
  padding-top: 67.5%;
  font-size: 0;
  -webkit-background-size: cover;
          background-size: cover;
}
.c-jedi__info {
  z-index: 1;
  opacity: 0;
}
.c-jedi_padawan {
  -webkit-transition: margin-left 300ms linear;
          transition: margin-left 300ms linear;
}
.c-jedi_padawan-hidden {
  margin-left: 100%;
}
.c-jedi__join-btn {
  padding-top: 3%;
  position: absolute;
  top: 41%;
  left: 7%;
  display: block;
}
.c-jedi-info {
  position: absolute;
  top: 0;
  left: 0;
}
.c-vacancies {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100vh;
  padding: 10% 10% 0;
  text-align: center;
}
.c-vacancies__info {
  margin: 43px 0 0;
  padding: 25px 61px;
  display: inline-block;
  font-size: 24px;
}
@media screen and (max-width: 1599px) {
  .c-vacancies__info {
    font-size: 17px;
  }
}
