@charset "UTF-8";
.p-slider {
  position: relative;
}
.p-slider__pagination {
  margin-top: -9.375%;
  font-size: 0;
}
@media screen and (max-aspect-ratio: 5/3) {
  .p-slider__pagination {
    margin-top: -11.275%;
  }
}
@media screen and (max-aspect-ratio: 4/3) {
  .p-slider__pagination {
    margin-top: -14.075%;
  }
}
@media screen and (max-aspect-ratio: 1/1) {
  .p-slider__pagination {
    margin-top: -18.725%;
  }
}
@media screen and (max-aspect-ratio: 9/10) {
  .p-slider__pagination {
    margin-top: -28.125%;
  }
}
@media screen and (min-aspect-ratio: 7/3) {
  .p-slider__pagination {
    margin-top: 0;
  }
}
.p-slider__slides {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100vh;
  padding-bottom: 9.375%;
  position: relative;
  overflow: hidden;
  background-position: center top;
  -webkit-background-size: contain;
          background-size: contain;
}
.p-slider__slides > div {
  position: relative;
}
@media screen and (max-aspect-ratio: 5/3) {
  .p-slider__slides {
    padding-bottom: 11.275%;
  }
}
@media screen and (max-aspect-ratio: 4/3) {
  .p-slider__slides {
    padding-bottom: 14.075%;
  }
}
@media screen and (max-aspect-ratio: 1/1) {
  .p-slider__slides {
    padding-bottom: 18.725%;
  }
}
@media screen and (max-aspect-ratio: 9/10) {
  .p-slider__slides {
    padding-bottom: 28.125%;
  }
}
@media screen and (min-aspect-ratio: 7/3) {
  .p-slider__slides {
    padding-bottom: 0;
  }
}
.p-pagination {
  overflow: hidden;
}
.p-pagination__block {
  width: 100%;
}
.p-slide {
  width: 100%;
  height: 100%;
  z-index: auto !important;
  background-position: center top;
  -webkit-background-size: cover;
          background-size: cover;
}
.p-slide_substrate .p-info-slide:after {
  width: 10%;
  height: 100%;
  position: absolute;
  top: 0;
  right: -10%;
  display: block;
  content: "";
}
.p-slide ~ .p-slide {
  display: none;
}
.p-single {
  width: 16.666%;
  position: relative;
  display: inline-block;
}
.p-single__image {
  padding-top: 56.25%;
  background-position: center;
  -webkit-background-size: cover;
          background-size: cover;
}
.p-single .p-info__description {
  display: none;
  visibility: hidden;
}
@media screen and (max-aspect-ratio: 5/3) {
  .p-single {
    width: 20%;
  }
}
@media screen and (max-aspect-ratio: 4/3) {
  .p-single {
    width: 25%;
  }
}
@media screen and (max-aspect-ratio: 1/1) {
  .p-single {
    width: 33.3333%;
  }
}
@media screen and (max-aspect-ratio: 9/10) {
  .p-single {
    width: 50%;
  }
}
.p-single:after {
  opacity: 0;
}
.p-single_active:after {
  opacity: 1;
}
.p-info-slide {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 30%;
  padding: 0 10px 48px 3%;
  padding-top: 4%;
  padding-left: 5%;
  position: absolute;
  z-index: 10;
  bottom: 0;
  left: 0;
  visibility: hidden;
  font-family: "Open Sans", sans-serif;
  font-size: 15pt;
  text-align: left;
}
@media screen and (max-width: 1599px) {
  .p-info-slide {
    font-size: 10pt;
  }
}
@media screen and (max-aspect-ratio: 5/3) {
  .p-info-slide {
    padding-bottom: 20px;
    font-size: 9pt;
  }
}
@media screen and (max-aspect-ratio: 4/3) {
  .p-info-slide {
    width: 40%;
  }
  .p-info-slide__description {
    display: none;
  }
}
.p-info-slide__title {
  margin: 0;
  margin-bottom: 8px;
  padding: 0;
  display: inline-block;
  font-size: 2.3em;
  font-weight: 300;
  white-space: nowrap;
  word-wrap: normal;
}
.p-info-slide__cat {
  margin: 0;
  margin-bottom: 9px;
  padding: 0;
  font-size: 1em;
  color: #3b95ff;
}
.p-info-slide__cat .p-info-slide__link {
  padding: 0;
  text-decoration: none;
}
.p-info-slide__description {
  max-height: 4.8em;
  margin: 0;
  overflow: hidden;
  font-size: 1.1em;
  font-weight: 400;
  line-height: 1.6em;
}
.p-info-slide__link {
  margin-top: 19px;
  padding: 10px 24px;
  font-size: 1em;
  white-space: nowrap;
  border-radius: 7px;
}
.slidesjs-control,
.slidesjs-container {
  height: 100% !important;
}
