@charset "UTF-8";
.g-body_services .g-header__menu-btn .g-burger-menu__top,
.g-body_services .g-header__menu-btn .g-burger-menu__center,
.g-body_services .g-header__menu-btn .g-burger-menu__bottom {
  background-color: #000;
}
.s-left-block__title {
  color: #fff;
}
.s-left-block__title:hover {
  cursor: pointer;
}
.s-list-element {
  color: #f1f2f2;
  -webkit-transition: color 100ms linear;
          transition: color 100ms linear;
}
.s-list-element_transition {
  -webkit-transition: text-shadow 200ms linear;
          transition: text-shadow 200ms linear;
}
.s-list-element_transparent {
  color: transparent;
}
.s-list-element:after {
  width: 0;
  height: 0;
  position: absolute;
  top: -webkit-calc(50% - 15px);
  top: calc(50% - 15px);
  right: 0;
  content: "";
  opacity: 0;
  border-top: 15px solid transparent;
  border-right: 15px solid #fff;
  border-bottom: 15px solid transparent;
  -webkit-transition: opacity 200ms linear;
          transition: opacity 200ms linear;
}
.s-list-element:hover {
  cursor: pointer;
}
.s-list-element_active:after {
  opacity: 1;
}
.s-list__element .s-list__square {
  width: 5px;
  height: 5px;
  position: absolute;
  top: 20px;
  left: 0;
  display: block;
  content: "";
}
@media screen and (max-width: 1599px) {
  .s-list__element .s-list__square {
    top: 12px;
  }
}
.s-tools-list {
  -webkit-transition: opacity 500ms linear;
          transition: opacity 500ms linear;
}
.s-tools-list__title {
  color: #58595b;
}
.s-tool {
  margin-bottom: 12px;
  position: relative;
}
.s-tool__icon {
  position: relative;
  display: block;
  white-space: nowrap;
  -webkit-transition: opacity 300ms linear;
          transition: opacity 300ms linear;
}
.s-tool__icon:after {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  content: "";
  opacity: 1;
  -webkit-transition: opacity 300ms linear;
          transition: opacity 300ms linear;
}
.s-tool_text .s-tool_icon {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: auto;
  max-width: 100%;
  padding: 0 9px;
  display: inline-block;
  overflow: hidden;
  font-size: 12px;
  font-weight: 700;
  line-height: 42px;
  color: #fff;
  text-transform: uppercase;
}
.s-tool_hidden .s-tool__icon {
  opacity: 0.2;
}
.s-tool_hidden .s-tool__icon:after {
  opacity: 0.8;
}
.s-tool_active .s-tool__icon {
  opacity: 1;
}
.s-tool_active .s-tool__icon:after {
  opacity: 0;
}
.s-tool__description {
  padding: 6px 14px;
  position: absolute;
  bottom: 54px;
  left: -40px;
  font-size: 13px;
  color: #fff;
  white-space: nowrap;
  border: 1px solid #fff;
  background-color: #414042;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.s-tool__description:before {
  width: 0;
  height: 0;
  position: absolute;
  bottom: -17px;
  left: -webkit-calc(50% - 8px);
  left: calc(50% - 8px);
  content: "";
  border: 8px solid transparent;
  border-top-color: #fff;
}
.s-tool__description:after {
  width: 0;
  height: 0;
  position: absolute;
  bottom: -16px;
  left: -webkit-calc(50% - 8px);
  left: calc(50% - 8px);
  content: "";
  border: 8px solid transparent;
  border-top-color: #414042;
}
.s-tool:hover .s-tool__icon:after {
  opacity: 0;
}
.s-tool:hover .s-tool__description {
  display: block;
}
/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<!-- `display: block` sprite -->
<div class="icon-home"></div>

<!-- `display: inline-block` sprite -->
<img class="icon-home" />
```
*/
.s-tool__icon_actionscript {
  width: 93px;
  height: 40px;
  background-image: url(../img/sprites/tools_big.png);
  background-position: 0 0;
}
.s-tool__icon_actionscript:after {
  width: 93px;
  height: 40px;
  background-image: url(../img/sprites/tools_big.png);
  background-position: 0 -41px;
}
.s-tool__icon_ae {
  width: 44px;
  height: 42px;
  background-image: url(../img/sprites/tools_big.png);
  background-position: -304px -86px;
}
.s-tool__icon_ae:after {
  width: 44px;
  height: 42px;
  background-image: url(../img/sprites/tools_big.png);
  background-position: -304px -129px;
}
.s-tool__icon_ai {
  width: 44px;
  height: 42px;
  background-image: url(../img/sprites/tools_big.png);
  background-position: -304px -215px;
}
.s-tool__icon_ai:after {
  width: 44px;
  height: 42px;
  background-image: url(../img/sprites/tools_big.png);
  background-position: -304px -43px;
}
.s-tool__icon_amazon {
  width: 39px;
  height: 36px;
  background-image: url(../img/sprites/tools_big.png);
  background-position: -435px -332px;
}
.s-tool__icon_amazon:after {
  width: 39px;
  height: 36px;
  background-image: url(../img/sprites/tools_big.png);
  background-position: -435px -295px;
}
.s-tool__icon_android {
  width: 42px;
  height: 49px;
  background-image: url(../img/sprites/tools_big.png);
  background-position: -261px -102px;
}
.s-tool__icon_android:after {
  width: 42px;
  height: 49px;
  background-image: url(../img/sprites/tools_big.png);
  background-position: -261px -152px;
}
.s-tool__icon_autodesk {
  width: 50px;
  height: 44px;
  background-image: url(../img/sprites/tools_big.png);
  background-position: -149px -209px;
}
.s-tool__icon_autodesk:after {
  width: 50px;
  height: 44px;
  background-image: url(../img/sprites/tools_big.png);
  background-position: -98px -209px;
}
.s-tool__icon_brain {
  width: 42px;
  height: 42px;
  background-image: url(../img/sprites/tools_big.png);
  background-position: -349px -216px;
}
.s-tool__icon_brain:after {
  width: 42px;
  height: 42px;
  background-image: url(../img/sprites/tools_big.png);
  background-position: -344px -346px;
}
.s-tool__icon_corel {
  width: 42px;
  height: 42px;
  background-image: url(../img/sprites/tools_big.png);
  background-position: -349px -130px;
}
.s-tool__icon_corel:after {
  width: 42px;
  height: 42px;
  background-image: url(../img/sprites/tools_big.png);
  background-position: -43px -346px;
}
.s-tool__icon_cpp {
  width: 42px;
  height: 40px;
  background-image: url(../img/sprites/tools_big.png);
  background-position: -298px -389px;
}
.s-tool__icon_cpp:after {
  width: 42px;
  height: 40px;
  background-image: url(../img/sprites/tools_big.png);
  background-position: -126px -389px;
}
.s-tool__icon_csh {
  width: 42px;
  height: 40px;
  background-image: url(../img/sprites/tools_big.png);
  background-position: -212px -389px;
}
.s-tool__icon_csh:after {
  width: 42px;
  height: 40px;
  background-image: url(../img/sprites/tools_big.png);
  background-position: -255px -389px;
}
.s-tool__icon_css {
  width: 45px;
  height: 40px;
  background-image: url(../img/sprites/tools_big.png);
  background-position: -135px -303px;
}
.s-tool__icon_css:after {
  width: 45px;
  height: 40px;
  background-image: url(../img/sprites/tools_big.png);
  background-position: -181px -303px;
}
.s-tool__icon_drupal {
  width: 37px;
  height: 42px;
  background-image: url(../img/sprites/tools_big.png);
  background-position: -435px -252px;
}
.s-tool__icon_drupal:after {
  width: 37px;
  height: 42px;
  background-image: url(../img/sprites/tools_big.png);
  background-position: -435px -209px;
}
.s-tool__icon_ebay {
  width: 39px;
  height: 42px;
  background-image: url(../img/sprites/tools_big.png);
  background-position: -435px -84px;
}
.s-tool__icon_ebay:after {
  width: 39px;
  height: 42px;
  background-image: url(../img/sprites/tools_big.png);
  background-position: -435px -41px;
}
.s-tool__icon_erply {
  width: 41px;
  height: 42px;
  background-image: url(../img/sprites/tools_big.png);
  background-position: 0 -389px;
}
.s-tool__icon_erply:after {
  width: 41px;
  height: 42px;
  background-image: url(../img/sprites/tools_big.png);
  background-position: -392px -172px;
}
.s-tool__icon_fb {
  width: 41px;
  height: 40px;
  background-image: url(../img/sprites/tools_big.png);
  background-position: -435px 0;
}
.s-tool__icon_fb:after {
  width: 41px;
  height: 40px;
  background-image: url(../img/sprites/tools_big.png);
  background-position: -384px -389px;
}
.s-tool__icon_flash {
  width: 40px;
  height: 40px;
  background-image: url(../img/sprites/tools_big.png);
  background-position: -435px -168px;
}
.s-tool__icon_flash:after {
  width: 40px;
  height: 40px;
  background-image: url(../img/sprites/tools_big.png);
  background-position: -435px -127px;
}
.s-tool__icon_googlea {
  width: 41px;
  height: 41px;
  background-image: url(../img/sprites/tools_big.png);
  background-position: -42px -389px;
}
.s-tool__icon_googlea:after {
  width: 41px;
  height: 41px;
  background-image: url(../img/sprites/tools_big.png);
  background-position: -84px -389px;
}
.s-tool__icon_googleaw {
  width: 42px;
  height: 42px;
  background-image: url(../img/sprites/tools_big.png);
  background-position: -349px -87px;
}
.s-tool__icon_googleaw:after {
  width: 42px;
  height: 42px;
  background-image: url(../img/sprites/tools_big.png);
  background-position: -392px -86px;
}
.s-tool__icon_html5 {
  width: 63px;
  height: 40px;
  background-image: url(../img/sprites/tools_big.png);
  background-position: -116px -156px;
}
.s-tool__icon_html5:after {
  width: 63px;
  height: 40px;
  background-image: url(../img/sprites/tools_big.png);
  background-position: -52px -156px;
}
.s-tool__icon_hz {
  width: 42px;
  height: 42px;
  background-image: url(../img/sprites/tools_big.png);
  background-position: -392px -43px;
}
.s-tool__icon_hz:after {
  width: 42px;
  height: 42px;
  background-image: url(../img/sprites/tools_big.png);
  background-position: -349px -173px;
}
.s-tool__icon_id {
  width: 44px;
  height: 42px;
  background-image: url(../img/sprites/tools_big.png);
  background-position: -90px -303px;
}
.s-tool__icon_id:after {
  width: 44px;
  height: 42px;
  background-image: url(../img/sprites/tools_big.png);
  background-position: -45px -303px;
}
.s-tool__icon_instagram {
  width: 42px;
  height: 41px;
  background-image: url(../img/sprites/tools_big.png);
  background-position: -392px -215px;
}
.s-tool__icon_instagram:after {
  width: 42px;
  height: 41px;
  background-image: url(../img/sprites/tools_big.png);
  background-position: -392px -257px;
}
.s-tool__icon_java {
  width: 51px;
  height: 40px;
  background-image: url(../img/sprites/tools_big.png);
  background-position: -200px -209px;
}
.s-tool__icon_java:after {
  width: 51px;
  height: 40px;
  background-image: url(../img/sprites/tools_big.png);
  background-position: -180px -156px;
}
.s-tool__icon_javascript {
  width: 82px;
  height: 40px;
  background-image: url(../img/sprites/tools_big.png);
  background-position: -94px -41px;
}
.s-tool__icon_javascript:after {
  width: 82px;
  height: 40px;
  background-image: url(../img/sprites/tools_big.png);
  background-position: -94px 0;
}
.s-tool__icon_joomla {
  width: 42px;
  height: 42px;
  background-image: url(../img/sprites/tools_big.png);
  background-position: -392px -129px;
}
.s-tool__icon_joomla:after {
  width: 42px;
  height: 42px;
  background-image: url(../img/sprites/tools_big.png);
  background-position: -349px -259px;
}
.s-tool__icon_love {
  width: 42px;
  height: 42px;
  background-image: url(../img/sprites/tools_big.png);
  background-position: -349px -302px;
}
.s-tool__icon_love:after {
  width: 42px;
  height: 42px;
  background-image: url(../img/sprites/tools_big.png);
  background-position: 0 -346px;
}
.s-tool__icon_magento {
  width: 42px;
  height: 50px;
  background-image: url(../img/sprites/tools_big.png);
  background-position: -261px 0;
}
.s-tool__icon_magento:after {
  width: 42px;
  height: 50px;
  background-image: url(../img/sprites/tools_big.png);
  background-position: -261px -51px;
}
.s-tool__icon_opencart {
  width: 43px;
  height: 43px;
  background-image: url(../img/sprites/tools_big.png);
  background-position: -224px -257px;
}
.s-tool__icon_opencart:after {
  width: 43px;
  height: 43px;
  background-image: url(../img/sprites/tools_big.png);
  background-position: -92px -257px;
}
.s-tool__icon_php {
  width: 42px;
  height: 40px;
  background-image: url(../img/sprites/tools_big.png);
  background-position: -169px -389px;
}
.s-tool__icon_php:after {
  width: 42px;
  height: 40px;
  background-image: url(../img/sprites/tools_big.png);
  background-position: -341px -389px;
}
.s-tool__icon_pr {
  width: 44px;
  height: 42px;
  background-image: url(../img/sprites/tools_big.png);
  background-position: -304px -172px;
}
.s-tool__icon_pr:after {
  width: 44px;
  height: 42px;
  background-image: url(../img/sprites/tools_big.png);
  background-position: -304px 0;
}
.s-tool__icon_ps {
  width: 44px;
  height: 42px;
  background-image: url(../img/sprites/tools_big.png);
  background-position: 0 -303px;
}
.s-tool__icon_ps:after {
  width: 44px;
  height: 42px;
  background-image: url(../img/sprites/tools_big.png);
  background-position: -304px -258px;
}
.s-tool__icon_shopify {
  width: 48px;
  height: 47px;
  background-image: url(../img/sprites/tools_big.png);
  background-position: -49px -209px;
}
.s-tool__icon_shopify:after {
  width: 48px;
  height: 47px;
  background-image: url(../img/sprites/tools_big.png);
  background-position: 0 -209px;
}
.s-tool__icon_silex {
  width: 31px;
  height: 42px;
  background-image: url(../img/sprites/tools_big.png);
  background-position: -435px -369px;
}
.s-tool__icon_silex:after {
  width: 31px;
  height: 42px;
  background-image: url(../img/sprites/tools_big.png);
  background-position: -229px -68px;
}
.s-tool__icon_smile {
  width: 42px;
  height: 42px;
  background-image: url(../img/sprites/tools_big.png);
  background-position: -349px -44px;
}
.s-tool__icon_smile:after {
  width: 42px;
  height: 42px;
  background-image: url(../img/sprites/tools_big.png);
  background-position: -392px 0;
}
.s-tool__icon_symfony {
  width: 43px;
  height: 43px;
  background-image: url(../img/sprites/tools_big.png);
  background-position: -136px -257px;
}
.s-tool__icon_symfony:after {
  width: 43px;
  height: 43px;
  background-image: url(../img/sprites/tools_big.png);
  background-position: -180px -257px;
}
.s-tool__icon_tex {
  width: 43px;
  height: 40px;
  background-image: url(../img/sprites/tools_big.png);
  background-position: -227px -303px;
}
.s-tool__icon_tex:after {
  width: 43px;
  height: 40px;
  background-image: url(../img/sprites/tools_big.png);
  background-position: -271px -303px;
}
.s-tool__icon_tw {
  width: 42px;
  height: 42px;
  background-image: url(../img/sprites/tools_big.png);
  background-position: -301px -346px;
}
.s-tool__icon_tw:after {
  width: 42px;
  height: 42px;
  background-image: url(../img/sprites/tools_big.png);
  background-position: -258px -346px;
}
.s-tool__icon_unity {
  width: 83px;
  height: 33px;
  background-image: url(../img/sprites/tools_big.png);
  background-position: -177px 0;
}
.s-tool__icon_unity:after {
  width: 83px;
  height: 33px;
  background-image: url(../img/sprites/tools_big.png);
  background-position: -177px -34px;
}
.s-tool__icon_vk {
  width: 42px;
  height: 42px;
  background-image: url(../img/sprites/tools_big.png);
  background-position: -215px -346px;
}
.s-tool__icon_vk:after {
  width: 42px;
  height: 42px;
  background-image: url(../img/sprites/tools_big.png);
  background-position: -172px -346px;
}
.s-tool__icon_web {
  width: 42px;
  height: 42px;
  background-image: url(../img/sprites/tools_big.png);
  background-position: -129px -346px;
}
.s-tool__icon_web:after {
  width: 42px;
  height: 42px;
  background-image: url(../img/sprites/tools_big.png);
  background-position: -86px -346px;
}
.s-tool__icon_webgl {
  width: 80px;
  height: 35px;
  background-image: url(../img/sprites/tools_big.png);
  background-position: 0 -82px;
}
.s-tool__icon_webgl:after {
  width: 80px;
  height: 35px;
  background-image: url(../img/sprites/tools_big.png);
  background-position: -81px -82px;
}
.s-tool__icon_windows {
  width: 41px;
  height: 42px;
  background-image: url(../img/sprites/tools_big.png);
  background-position: -392px -342px;
}
.s-tool__icon_windows:after {
  width: 41px;
  height: 42px;
  background-image: url(../img/sprites/tools_big.png);
  background-position: -392px -299px;
}
.s-tool__icon_wordpress {
  width: 42px;
  height: 43px;
  background-image: url(../img/sprites/tools_big.png);
  background-position: -349px 0;
}
.s-tool__icon_wordpress:after {
  width: 42px;
  height: 43px;
  background-image: url(../img/sprites/tools_big.png);
  background-position: -261px -202px;
}
.s-tool__icon_yii {
  width: 45px;
  height: 45px;
  background-image: url(../img/sprites/tools_big.png);
  background-position: 0 -257px;
}
.s-tool__icon_yii:after {
  width: 45px;
  height: 45px;
  background-image: url(../img/sprites/tools_big.png);
  background-position: -46px -257px;
}
.s-tool__icon_zbrush {
  width: 51px;
  height: 52px;
  background-image: url(../img/sprites/tools_big.png);
  background-position: -177px -68px;
}
.s-tool__icon_zbrush:after {
  width: 51px;
  height: 52px;
  background-image: url(../img/sprites/tools_big.png);
  background-position: 0 -156px;
}
.s-tool__icon_zend {
  width: 75px;
  height: 37px;
  background-image: url(../img/sprites/tools_big.png);
  background-position: -76px -118px;
}
.s-tool__icon_zend:after {
  width: 75px;
  height: 37px;
  background-image: url(../img/sprites/tools_big.png);
  background-position: 0 -118px;
}
@media screen and (max-width: 1599px) {
  /*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<!-- `display: block` sprite -->
<div class="icon-home"></div>

<!-- `display: inline-block` sprite -->
<img class="icon-home" />
```
*/
  .s-tool__icon_actionscript {
    width: 76px;
    height: 33px;
    background-image: url(../img/sprites/tools_small.png);
    background-position: 0 0;
  }
  .s-tool__icon_actionscript:after {
    width: 76px;
    height: 33px;
    background-image: url(../img/sprites/tools_small.png);
    background-position: 0 -34px;
  }
  .s-tool__icon_ae {
    width: 36px;
    height: 34px;
    background-image: url(../img/sprites/tools_small.png);
    background-position: -180px -249px;
  }
  .s-tool__icon_ae:after {
    width: 36px;
    height: 34px;
    background-image: url(../img/sprites/tools_small.png);
    background-position: -217px -249px;
  }
  .s-tool__icon_ai {
    width: 36px;
    height: 35px;
    background-image: url(../img/sprites/tools_small.png);
    background-position: 0 -213px;
  }
  .s-tool__icon_ai:after {
    width: 36px;
    height: 35px;
    background-image: url(../img/sprites/tools_small.png);
    background-position: -37px -213px;
  }
  .s-tool__icon_amazon {
    width: 32px;
    height: 30px;
    background-image: url(../img/sprites/tools_small.png);
    background-position: 0 -355px;
  }
  .s-tool__icon_amazon:after {
    width: 32px;
    height: 30px;
    background-image: url(../img/sprites/tools_small.png);
    background-position: -189px -171px;
  }
  .s-tool__icon_android {
    width: 34px;
    height: 39px;
    background-image: url(../img/sprites/tools_small.png);
    background-position: -249px 0;
  }
  .s-tool__icon_android:after {
    width: 34px;
    height: 39px;
    background-image: url(../img/sprites/tools_small.png);
    background-position: -249px -40px;
  }
  .s-tool__icon_autodesk {
    width: 41px;
    height: 36px;
    background-image: url(../img/sprites/tools_small.png);
    background-position: -207px 0;
  }
  .s-tool__icon_autodesk:after {
    width: 41px;
    height: 36px;
    background-image: url(../img/sprites/tools_small.png);
    background-position: -207px -37px;
  }
  .s-tool__icon_brain {
    width: 34px;
    height: 34px;
    background-image: url(../img/sprites/tools_small.png);
    background-position: -320px -212px;
  }
  .s-tool__icon_brain:after {
    width: 34px;
    height: 34px;
    background-image: url(../img/sprites/tools_small.png);
    background-position: -249px -115px;
  }
  .s-tool__icon_corel {
    width: 35px;
    height: 35px;
    background-image: url(../img/sprites/tools_small.png);
    background-position: -284px -144px;
  }
  .s-tool__icon_corel:after {
    width: 35px;
    height: 35px;
    background-image: url(../img/sprites/tools_small.png);
    background-position: -36px -249px;
  }
  .s-tool__icon_cpp {
    width: 35px;
    height: 33px;
    background-image: url(../img/sprites/tools_small.png);
    background-position: -318px -320px;
  }
  .s-tool__icon_cpp:after {
    width: 35px;
    height: 33px;
    background-image: url(../img/sprites/tools_small.png);
    background-position: -246px -320px;
  }
  .s-tool__icon_csh {
    width: 35px;
    height: 33px;
    background-image: url(../img/sprites/tools_small.png);
    background-position: -210px -320px;
  }
  .s-tool__icon_csh:after {
    width: 35px;
    height: 33px;
    background-image: url(../img/sprites/tools_small.png);
    background-position: -261px -285px;
  }
  .s-tool__icon_css {
    width: 37px;
    height: 33px;
    background-image: url(../img/sprites/tools_small.png);
    background-position: -149px -285px;
  }
  .s-tool__icon_css:after {
    width: 37px;
    height: 33px;
    background-image: url(../img/sprites/tools_small.png);
    background-position: -111px -285px;
  }
  .s-tool__icon_drupal {
    width: 31px;
    height: 35px;
    background-image: url(../img/sprites/tools_small.png);
    background-position: -356px -278px;
  }
  .s-tool__icon_drupal:after {
    width: 31px;
    height: 35px;
    background-image: url(../img/sprites/tools_small.png);
    background-position: -356px -242px;
  }
  .s-tool__icon_ebay {
    width: 32px;
    height: 34px;
    background-image: url(../img/sprites/tools_small.png);
    background-position: -356px -172px;
  }
  .s-tool__icon_ebay:after {
    width: 32px;
    height: 34px;
    background-image: url(../img/sprites/tools_small.png);
    background-position: -356px -207px;
  }
  .s-tool__icon_erply {
    width: 33px;
    height: 34px;
    background-image: url(../img/sprites/tools_small.png);
    background-position: -356px -69px;
  }
  .s-tool__icon_erply:after {
    width: 33px;
    height: 34px;
    background-image: url(../img/sprites/tools_small.png);
    background-position: -356px -34px;
  }
  .s-tool__icon_fb {
    width: 33px;
    height: 32px;
    background-image: url(../img/sprites/tools_small.png);
    background-position: -356px -314px;
  }
  .s-tool__icon_fb:after {
    width: 33px;
    height: 32px;
    background-image: url(../img/sprites/tools_small.png);
    background-position: -284px -216px;
  }
  .s-tool__icon_flash {
    width: 33px;
    height: 33px;
    background-image: url(../img/sprites/tools_small.png);
    background-position: -356px -138px;
  }
  .s-tool__icon_flash:after {
    width: 33px;
    height: 33px;
    background-image: url(../img/sprites/tools_small.png);
    background-position: -356px -104px;
  }
  .s-tool__icon_googlea {
    width: 34px;
    height: 34px;
    background-image: url(../img/sprites/tools_small.png);
    background-position: -175px -320px;
  }
  .s-tool__icon_googlea:after {
    width: 34px;
    height: 34px;
    background-image: url(../img/sprites/tools_small.png);
    background-position: -320px -282px;
  }
  .s-tool__icon_googleaw {
    width: 35px;
    height: 35px;
    background-image: url(../img/sprites/tools_small.png);
    background-position: -108px -249px;
  }
  .s-tool__icon_googleaw:after {
    width: 35px;
    height: 35px;
    background-image: url(../img/sprites/tools_small.png);
    background-position: -222px -213px;
  }
  .s-tool__icon_html5 {
    width: 52px;
    height: 33px;
    background-image: url(../img/sprites/tools_small.png);
    background-position: -43px -127px;
  }
  .s-tool__icon_html5:after {
    width: 52px;
    height: 33px;
    background-image: url(../img/sprites/tools_small.png);
    background-position: -96px -127px;
  }
  .s-tool__icon_hz {
    width: 35px;
    height: 35px;
    background-image: url(../img/sprites/tools_small.png);
    background-position: -72px -249px;
  }
  .s-tool__icon_hz:after {
    width: 35px;
    height: 35px;
    background-image: url(../img/sprites/tools_small.png);
    background-position: -284px -36px;
  }
  .s-tool__icon_id {
    width: 36px;
    height: 34px;
    background-image: url(../img/sprites/tools_small.png);
    background-position: 0 -285px;
  }
  .s-tool__icon_id:after {
    width: 36px;
    height: 34px;
    background-image: url(../img/sprites/tools_small.png);
    background-position: -254px -249px;
  }
  .s-tool__icon_instagram {
    width: 35px;
    height: 34px;
    background-image: url(../img/sprites/tools_small.png);
    background-position: -320px -106px;
  }
  .s-tool__icon_instagram:after {
    width: 35px;
    height: 34px;
    background-image: url(../img/sprites/tools_small.png);
    background-position: -320px -141px;
  }
  .s-tool__icon_java {
    width: 42px;
    height: 32px;
    background-image: url(../img/sprites/tools_small.png);
    background-position: -146px -171px;
  }
  .s-tool__icon_java:after {
    width: 42px;
    height: 32px;
    background-image: url(../img/sprites/tools_small.png);
    background-position: -149px -127px;
  }
  .s-tool__icon_javascript {
    width: 67px;
    height: 33px;
    background-image: url(../img/sprites/tools_small.png);
    background-position: -77px -34px;
  }
  .s-tool__icon_javascript:after {
    width: 67px;
    height: 33px;
    background-image: url(../img/sprites/tools_small.png);
    background-position: -77px 0;
  }
  .s-tool__icon_joomla {
    width: 35px;
    height: 34px;
    background-image: url(../img/sprites/tools_small.png);
    background-position: -320px -71px;
  }
  .s-tool__icon_joomla:after {
    width: 35px;
    height: 34px;
    background-image: url(../img/sprites/tools_small.png);
    background-position: -320px 0;
  }
  .s-tool__icon_love {
    width: 34px;
    height: 34px;
    background-image: url(../img/sprites/tools_small.png);
    background-position: -70px -320px;
  }
  .s-tool__icon_love:after {
    width: 34px;
    height: 34px;
    background-image: url(../img/sprites/tools_small.png);
    background-position: -140px -320px;
  }
  .s-tool__icon_magento {
    width: 34px;
    height: 41px;
    background-image: url(../img/sprites/tools_small.png);
    background-position: -35px -171px;
  }
  .s-tool__icon_magento:after {
    width: 34px;
    height: 41px;
    background-image: url(../img/sprites/tools_small.png);
    background-position: 0 -171px;
  }
  .s-tool__icon_opencart {
    width: 34px;
    height: 34px;
    background-image: url(../img/sprites/tools_small.png);
    background-position: -320px -247px;
  }
  .s-tool__icon_opencart:after {
    width: 34px;
    height: 34px;
    background-image: url(../img/sprites/tools_small.png);
    background-position: -249px -80px;
  }
  .s-tool__icon_php {
    width: 35px;
    height: 33px;
    background-image: url(../img/sprites/tools_small.png);
    background-position: -356px 0;
  }
  .s-tool__icon_php:after {
    width: 35px;
    height: 33px;
    background-image: url(../img/sprites/tools_small.png);
    background-position: -282px -320px;
  }
  .s-tool__icon_pr {
    width: 36px;
    height: 35px;
    background-image: url(../img/sprites/tools_small.png);
    background-position: -148px -213px;
  }
  .s-tool__icon_pr:after {
    width: 36px;
    height: 35px;
    background-image: url(../img/sprites/tools_small.png);
    background-position: -111px -213px;
  }
  .s-tool__icon_ps {
    width: 36px;
    height: 34px;
    background-image: url(../img/sprites/tools_small.png);
    background-position: -37px -285px;
  }
  .s-tool__icon_ps:after {
    width: 36px;
    height: 34px;
    background-image: url(../img/sprites/tools_small.png);
    background-position: -74px -285px;
  }
  .s-tool__icon_shopify {
    width: 39px;
    height: 37px;
    background-image: url(../img/sprites/tools_small.png);
    background-position: -207px -74px;
  }
  .s-tool__icon_shopify:after {
    width: 39px;
    height: 37px;
    background-image: url(../img/sprites/tools_small.png);
    background-position: -207px -112px;
  }
  .s-tool__icon_silex {
    width: 26px;
    height: 35px;
    background-image: url(../img/sprites/tools_small.png);
    background-position: -392px -36px;
  }
  .s-tool__icon_silex:after {
    width: 26px;
    height: 35px;
    background-image: url(../img/sprites/tools_small.png);
    background-position: -392px 0;
  }
  .s-tool__icon_smile {
    width: 34px;
    height: 34px;
    background-image: url(../img/sprites/tools_small.png);
    background-position: 0 -320px;
  }
  .s-tool__icon_smile:after {
    width: 34px;
    height: 34px;
    background-image: url(../img/sprites/tools_small.png);
    background-position: -35px -320px;
  }
  .s-tool__icon_symfony {
    width: 36px;
    height: 35px;
    background-image: url(../img/sprites/tools_small.png);
    background-position: -185px -213px;
  }
  .s-tool__icon_symfony:after {
    width: 36px;
    height: 35px;
    background-image: url(../img/sprites/tools_small.png);
    background-position: -74px -213px;
  }
  .s-tool__icon_tex {
    width: 36px;
    height: 33px;
    background-image: url(../img/sprites/tools_small.png);
    background-position: -187px -285px;
  }
  .s-tool__icon_tex:after {
    width: 36px;
    height: 33px;
    background-image: url(../img/sprites/tools_small.png);
    background-position: -224px -285px;
  }
  .s-tool__icon_tw {
    width: 34px;
    height: 34px;
    background-image: url(../img/sprites/tools_small.png);
    background-position: -105px -320px;
  }
  .s-tool__icon_tw:after {
    width: 34px;
    height: 34px;
    background-image: url(../img/sprites/tools_small.png);
    background-position: -249px -150px;
  }
  .s-tool__icon_unity {
    width: 67px;
    height: 28px;
    background-image: url(../img/sprites/tools_small.png);
    background-position: 0 -98px;
  }
  .s-tool__icon_unity:after {
    width: 67px;
    height: 28px;
    background-image: url(../img/sprites/tools_small.png);
    background-position: -68px -98px;
  }
  .s-tool__icon_vk {
    width: 35px;
    height: 35px;
    background-image: url(../img/sprites/tools_small.png);
    background-position: -144px -249px;
  }
  .s-tool__icon_vk:after {
    width: 35px;
    height: 35px;
    background-image: url(../img/sprites/tools_small.png);
    background-position: -284px -72px;
  }
  .s-tool__icon_web {
    width: 35px;
    height: 35px;
    background-image: url(../img/sprites/tools_small.png);
    background-position: -284px -108px;
  }
  .s-tool__icon_web:after {
    width: 35px;
    height: 35px;
    background-image: url(../img/sprites/tools_small.png);
    background-position: 0 -249px;
  }
  .s-tool__icon_webgl {
    width: 65px;
    height: 29px;
    background-image: url(../img/sprites/tools_small.png);
    background-position: 0 -68px;
  }
  .s-tool__icon_webgl:after {
    width: 65px;
    height: 29px;
    background-image: url(../img/sprites/tools_small.png);
    background-position: -66px -68px;
  }
  .s-tool__icon_windows {
    width: 34px;
    height: 35px;
    background-image: url(../img/sprites/tools_small.png);
    background-position: -320px -35px;
  }
  .s-tool__icon_windows:after {
    width: 34px;
    height: 35px;
    background-image: url(../img/sprites/tools_small.png);
    background-position: -320px -176px;
  }
  .s-tool__icon_wordpress {
    width: 35px;
    height: 35px;
    background-image: url(../img/sprites/tools_small.png);
    background-position: -284px 0;
  }
  .s-tool__icon_wordpress:after {
    width: 35px;
    height: 35px;
    background-image: url(../img/sprites/tools_small.png);
    background-position: -284px -180px;
  }
  .s-tool__icon_yii {
    width: 37px;
    height: 37px;
    background-image: url(../img/sprites/tools_small.png);
    background-position: -70px -171px;
  }
  .s-tool__icon_yii:after {
    width: 37px;
    height: 37px;
    background-image: url(../img/sprites/tools_small.png);
    background-position: -108px -171px;
  }
  .s-tool__icon_zbrush {
    width: 42px;
    height: 43px;
    background-image: url(../img/sprites/tools_small.png);
    background-position: -145px -62px;
  }
  .s-tool__icon_zbrush:after {
    width: 42px;
    height: 43px;
    background-image: url(../img/sprites/tools_small.png);
    background-position: 0 -127px;
  }
  .s-tool__icon_zend {
    width: 61px;
    height: 30px;
    background-image: url(../img/sprites/tools_small.png);
    background-position: -145px 0;
  }
  .s-tool__icon_zend:after {
    width: 61px;
    height: 30px;
    background-image: url(../img/sprites/tools_small.png);
    background-position: -145px -31px;
  }
}
